body{
	background-color: #fcd404;
}
h2{
	font-size: medium;
	text-align: center;
}

.container{
	padding: 10%;
}

.pad{
	padding: 2%;
	margin: 3%;
	height: 350px;
}

.w3-card{
	min-width: 200px;
    min-height: 300px;
    transition: 0.3s;
    background-color: #ffffff;
}

.w3-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.photo{

  
}

.center {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

.linking{
	
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand{
	font-size: xx-large;
}
